{# purpose of this template: inclusion template for display of related rating systems #}
{% set hasAdminPermission = permissionHelper.hasComponentPermission('ratingSystem', constant('ACCESS_EDIT')) %}
<h4>
    {{ item|paustianratingsmodule_formattedTitle }}
</h4>
